In [2]:
#Initial imports 
import numpy as np
import pandas as pd 
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
%matplotlib inline
from IPython.core.interactiveshell import InteractiveShell #Show all consecutive outputs
InteractiveShell.ast_node_interactivity = "all"

#Removes all unnecessary warnings by Python
import warnings
warnings.filterwarnings('ignore')

# Imports for better visualization

from collections import defaultdict
import scipy as sp
from matplotlib import rcParams
import matplotlib.cm as cm
import matplotlib as mpl

#colorbrewer2 Dark2 qualitative color table
dark2_colors = [(0.10588235294117647, 0.6196078431372549, 0.4666666666666667),
                (0.8509803921568627, 0.37254901960784315, 0.00784313725490196),
                (0.4588235294117647, 0.4392156862745098, 0.7019607843137254),
                (0.9058823529411765, 0.1607843137254902, 0.5411764705882353),
                (0.4, 0.6509803921568628, 0.11764705882352941),
                (0.9019607843137255, 0.6705882352941176, 0.00784313725490196),
                (0.6509803921568628, 0.4627450980392157, 0.11372549019607843)]

rcParams['figure.figsize'] = (14, 6)
rcParams['figure.dpi'] = 250
rcParams['axes.color_cycle'] = dark2_colors
rcParams['lines.linewidth'] = 3
rcParams['axes.facecolor'] = 'white'
rcParams['font.size'] = 25
rcParams['patch.edgecolor'] = 'white'
rcParams['patch.facecolor'] = dark2_colors[0]
rcParams['font.family'] = 'StixGeneral'

#Show all the columns 
pd.set_option('display.max_columns',None)


#Reading in all the data from different datasets 
fractr = pd.read_csv('train.csv')

In [9]:
train = pd.read_csv('train.csv', parse_dates=True)
test = pd.read_csv('test.csv',parse_dates=True)

In [10]:
test.shape
train.shape

(266248, 6)

(881876, 8)

In [17]:
train.head()

,ID,Item_ID,Category_3,Category_2,Category_1,Price,Number_Of_Sales,Date
0,30495_20140101,30495,0,2.0,90,165.123,1,2014-01-01
1,30375_20140101,30375,0,2.0,307,68.666,5,2014-01-01
2,30011_20140101,30011,0,3.0,67,253.314,2,2014-01-01
3,30864_20140101,30864,0,2.0,315,223.122,1,2014-01-01
4,30780_20140101,30780,1,2.0,132,28.750,1,2014-01-01

In [43]:
train.head()

,ID,Item_ID,Category_3,Category_2,Category_1,Price,Number_Of_Sales,Date,dayw
0,30495_20140101,30495,0,2.0,90,165.123,1,2014-01-01,Wednesday
1,30375_20140101,30375,0,2.0,307,68.666,5,2014-01-01,Wednesday
2,30011_20140101,30011,0,3.0,67,253.314,2,2014-01-01,Wednesday
3,30864_20140101,30864,0,2.0,315,223.122,1,2014-01-01,Wednesday
4,30780_20140101,30780,1,2.0,132,28.750,1,2014-01-01,Wednesday

In [14]:
train['Date'] = pd.to_datetime(train['Datetime'])
test['Date'] = pd.to_datetime(test['Datetime'])

In [16]:
# del train['Datetime']
# del test['Datetime']

In [33]:
import datetime

In [40]:
# del train['Tarikh']
# del train['Dayw']
# del train['Month']
# del train['Year']
# del test['Tarikh']
# del test['Dayw']
# del test['Month']
# del test['Year']

In [44]:
#train['dayw'] = train['Date'].dt.weekday_name
train['Tarikh'] = train['Date'].dt.day
train['Month'] = train['Date'].dt.month
train['Year'] = train['Date'].dt.year
test['Tarikh'] = test['Date'].dt.day
test['Month'] = test['Date'].dt.month
test['Year'] = test['Date'].dt.year
test['dayw'] = test['Date'].dt.weekday_name

In [50]:
from xgboost.sklearn import XGBRegressor
from sklearn.cross_validation import cross_val_score, train_test_split
from sklearn.metrics import accuracy_score
xgb = XGBRegressor(n_estimators=400, objective='reg:linear', silent=False)

In [71]:
train.head()

,ID,Item_ID,Category_3,Category_2,Category_1,Price,Number_Of_Sales,Date,dayw,Tarikh,Month,Year
0,30495_20140101,30495,0,2.0,90,165.123,1,2014-01-01,Wednesday,1,1,2014
1,30375_20140101,30375,0,2.0,307,68.666,5,2014-01-01,Wednesday,1,1,2014
2,30011_20140101,30011,0,3.0,67,253.314,2,2014-01-01,Wednesday,1,1,2014
3,30864_20140101,30864,0,2.0,315,223.122,1,2014-01-01,Wednesday,1,1,2014
4,30780_20140101,30780,1,2.0,132,28.750,1,2014-01-01,Wednesday,1,1,2014

In [72]:
x_train, x_test, y_train, y_test = train_test_split(train.drop(['Item_ID', 'ID','Date','Number_Of_Sales','dayw','Price'], axis=1), train['Price'])
xgb.fit(x_train, y_train)

XGBRegressor(base_score=0.5, colsample_bylevel=1, colsample_bytree=1, gamma=0,
       learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=400, nthread=-1,
       objective='reg:linear', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=False, subsample=1)

In [73]:
predicted_train = xgb.predict(x_test)

In [74]:
test.head(2)

   Category_1  Category_2  Category_3  Tarikh  Month  Year
0         235         3.0           0       1      7  2016
1         235         3.0           0       2      7  2016

In [80]:
# test1 = test
# del test1['Item_ID']
# del test1['Date']
# del test1['dayw']
test1.head(2)
test1.to_csv('test_mis.csv')

   Category_1  Category_2  Category_3  Tarikh  Month  Year
0         235         3.0           0       1      7  2016
1         235         3.0           0       2      7  2016

In [ ]:
#del test1['ID']

In [81]:
test1 = test1[['Category_3', 'Category_2', 'Category_1', 'Tarikh', 'Month', 'Year']]

In [82]:
test1.head()

   Category_3  Category_2  Category_1  Tarikh  Month  Year
0           0         3.0         235       1      7  2016
1           0         3.0         235       2      7  2016
2           0         3.0         235       3      7  2016
3           0         3.0         235       4      7  2016
4           0         3.0         235       5      7  2016

In [83]:
test1['Price'] = xgb.predict(test1)

Exception ignored in: <bound method DMatrix.__del__ of <xgboost.core.DMatrix object at 0x000002133F44BEF0>>
Traceback (most recent call last):
  File "C:\Users\NISHANT\Anaconda3\lib\site-packages\xgboost\core.py", line 324, in __del__
    _check_call(_LIB.XGDMatrixFree(self.handle))
AttributeError: 'DMatrix' object has no attribute 'handle'

In [85]:
x_train1, x_test1, y_train1, y_test1 = train_test_split(train.drop(['Item_ID', 'ID','Date','Number_Of_Sales','dayw'], axis=1), train['Number_Of_Sales'])
xgb.fit(x_train1, y_train1)

XGBRegressor(base_score=0.5, colsample_bylevel=1, colsample_bytree=1, gamma=0,
       learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=400, nthread=-1,
       objective='reg:linear', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=False, subsample=1)

In [87]:
test1 = test1[['Category_3', 'Category_2', 'Category_1','Price', 'Tarikh', 'Month', 'Year']]
test1['Number_Of_Sales'] = xgb.predict(test1)

In [89]:
del test1['Category_1']
del test1['Category_2']
del test1['Category_3']
del test1['Year']
del test1['Tarikh']
del test1['Month']

In [95]:
test = pd.read_csv('test.csv')
test1['ID'] = test['ID']

In [96]:
test1.head()

       Price  Number_Of_Sales              ID
0  39.553959       215.236801  30413_20160701
1  39.553959       195.430161  30413_20160702
2  39.553959       190.984695  30413_20160703
3  39.553959       190.984695  30413_20160704
4  39.553959       182.369766  30413_20160705

In [101]:
test1 = test1[['ID','Number_Of_Sales','Price']]

In [102]:
test1.to_csv("logical11.csv",index = False)

In [103]:
test2 = pd.read_csv("logical11.csv")

In [104]:
test2

                    ID  Number_Of_Sales      Price
0       30413_20160701       215.236801  39.553959
1       30413_20160702       195.430161  39.553959
2       30413_20160703       190.984695  39.553959
3       30413_20160704       190.984695  39.553959
4       30413_20160705       182.369766  39.553959
5       30413_20160706       182.369766  39.553959
6       30413_20160707       179.179764  39.553959
7       30413_20160708       179.179764  39.553959
8       30413_20160709       179.179764  39.553959
9       30413_20160710       180.503922  39.553959
10      30413_20160711       180.503922  39.553959
11      30413_20160712       180.503922  39.553959
12      30413_20160713       180.503922  39.508209
13      30413_20160714       180.503922  39.508209
14      30413_20160715       180.503922  39.508209
15      30413_20160716       180.503922  39.500401
16      30413_20160717       180.503922  39.500401
17      30413_20160718       180.503922  39.500401
18      30413_20160719       180.503922  39.500401
19      30413_20160720       180.503922  39.500401
20      30413_20160721       180.075256  39.500401
21      30413_20160722       180.075256  39.500401
22      30413_20160723       180.075256  39.500401
23      30413_20160724       180.075256  39.500401
24      30413_20160725       180.075256  39.500401
25      30413_20160726       180.075256  39.500401
26      30413_20160727       180.075256  39.500401
27      30413_20160728       180.075256  39.500401
28      30413_20160729       180.075256  39.500401
29      30413_20160730       180.075256  39.500401
...                ...              ...        ...
266218  31301_20161202       307.495392   2.732702
266219  31301_20161203       327.701813   2.732702
266220  31301_20161204       327.701813   2.732702
266221  31301_20161205       333.979218   2.732702
266222  31301_20161206       333.979218   2.732702
266223  31301_20161207       333.701630   2.732702
266224  31301_20161208       333.701630   2.732702
266225  31301_20161209       333.701630   2.732702
266226  31301_20161210       337.568817   2.732702
266227  31301_20161211       337.568817   2.732702
266228  31301_20161212       337.568817   2.732702
266229  31301_20161213       398.665649   2.686954
266230  31301_20161214       398.665649   2.686954
266231  31301_20161215       398.665649   2.686954
266232  31301_20161216       398.665649   2.679147
266233  31301_20161217       398.665649   2.679147
266234  31301_20161218       398.665649   2.679147
266235  31301_20161219       398.665649   2.679147
266236  31301_20161220       398.665649   2.679147
266237  31301_20161221       401.554291   2.679147
266238  31301_20161222       401.554291   2.679147
266239  31301_20161223       401.554291   2.679147
266240  31301_20161224       401.554291   2.679147
266241  31301_20161225       437.285736   2.679147
266242  31301_20161226       437.285736   2.679147
266243  31301_20161227       437.285736   2.679147
266244  31301_20161228       437.285736   2.679147
266245  31301_20161229       437.285736   2.679147
266246  31301_20161230       437.285736   2.679147
266247  31301_20161231       437.285736   2.679147

[266248 rows x 3 columns]

In [105]:
test2.shape

(266248, 3)